@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');

.logo {
  font-family: "Edu SA Beginner", cursive;
  letter-spacing: 5px;
  color: $text-color;
}

.fancy-title {
  font-family: "Edu SA Beginner", cursive;
  font-size: 48px;
}

.signin-layout {
  background-color: $primary-color;
}

.frello-topbar {
  background-color: $secondary-color;
}

.frello-user {
  font-size: 8px;
  margin-bottom: 0px !important;
  text-align: right;
}

.frello-board-tile {
  margin: 20px 20px 0px 0px;
  .v-card__subtitle {
    font-size: 8px;
  }
}

.frello-brand {
    font-size: 36px !important;
}